.homeContainer {
    margin-top: 150px !important;
    // position: absolute;
    background-color: var(--primary-Background);
    display: flex;
    // max-width: 90vw;
    // flex-wrap: wrap;
    padding: 0 80px;
    // padding-bottom: 90px;
    justify-content: space-between;

    .leftSide {
        // flex: 40%;
        width: 40%;
        display: flex;
        flex-direction: column;

        .heroHeading {
            color: white;
            font-size: 2.5em;
            font-weight: 600;
            text-align: left;

            .fade-in-image {
                animation: fadeIn 5s;
            }

            .headGrad {
                background: var(--text-gradient-light);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

            }
        }

        .textDesc {
            color: white;
            font-size: 1.3em;
            font-weight: 200;
            text-align: left;
            line-height: 1.5;
        }

        .features {
            display: flex;


            &.features img {
                color: white;
                height: 21px;
                width: 21px;
                margin-right: 5px;
            }

            .featuresItems {
                color: white;
                padding: 20px 0;
                display: flex;
                margin: 0 10px;
                align-items: center;
            }
        }
    }

    // .rightSide {
    //     // flex: 60%;
    //     // position: relative;

    //     .image2 {
    //         margin-left: 8em;
    //         margin-top: 3em;
    //         // position: absolute;
    //     }

    //     .image1 {
    //         // position: absolute;
    //         top: 0%;
    //         right: 34%;
    //         z-index: 9;
    //     }

    //     .image3 {
    //         // position: absolute;
    //         top: 40%;
    //         left: 5%;
    //         z-index: 9;
    //     }

    //     .image4 {
    //         position: absolute;
    //         bottom: 0%;
    //         left: 37%;
    //         // margin-top: 39px;
    //         margin-bottom: -20px;
    //         z-index: 9;
    //     }
    // }

    .hero-images {
        margin-top: 4%;
        position: relative;

        .img1 {
            position: absolute;
            top: 20%;
            left: -10%;
            z-index: 1;
        }

        .img2 {
            position: relative;
        }

        .img4 {
            position: absolute;
            bottom: -10%;
            right: 2%;
        }

        .img3 {
            position: absolute;
            top: -5%;
            right: -5%;
            z-index: 1;
            height: 120px;
            width: 120px;
        }


    }

}

// @keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }

//     100% {
//         opacity: 1;
//     }
// }

@media only screen and (max-width: 1920px) {
    .homeContainer {
        padding: 0 10em;

        .hero-images {
            .img4 {}

        }
    }
}

@media only screen and (max-width: 1728px) {

    .homeContainer {
        .hero-images {
            .img4 {
                bottom: -7%;
            }
        }
    }


}

@media only screen and (max-width: 1440px) {
    .homeContainer {
        .hero-images {
            .img4 {
                bottom: 10%;
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .homeContainer {
        padding: 0 70px;

        .hero-images {
            .img4 {
                bottom: 5%;
            }
        }

    }
}

@media only screen and (max-width: 1024px) {
  
    .homeContainer {
        flex-direction: column;

        .leftSide {
            width: 80vw;

            .heroHeading{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }

            .features{
                flex-direction: column;

                .featuresItems{
                    padding: 10px 0;
                }
            }
        }

        .hero-images {
            margin-top: 10% !important;
            margin: 0 auto;

            .img2 {
                width: 30em;
                height: auto;
            }

            .img1 {
                width: 7em;
                left: -9%;
                top: 40%;
            }

            .img3 {
                width: 9em;
                right: -7%;
                top: -15%;
            }

            .img4 {
                width: 15em;
                height: auto;
                top: 101%;
                right: 0%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .homeContainer {
        flex-direction: column;

        .leftSide {
            width: 80vw;
        }

        .hero-images {
            margin-top: 10% !important;
            margin: 0 auto;

            .img2 {
                width: 30em;
                height: auto;
            }

            .img1 {
                width: 7em;
                left: -9%;
                top: 40%;
            }

            .img3 {
                width: 9em;
                right: -7%;
                top: -15%;
            }

            .img4 {
                width: 15em;
                height: auto;
                top: 101%;
                right: 0%;
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    .homeContainer{
        .leftSide{
            .features{
                display: flex;
                flex-direction: column;
                margin: 0;

                .featuresItems{
                    padding: 8.5px 0;
                }
            }
        }
        .hero-images{
            margin-top: 20% !important;
            .img2{
                width: 25em;
            }
        }
    }

}

@media only screen and (max-width: 480px) {
    .homeContainer{
        .leftSide{
            .features{
                display: flex;
                flex-direction: column;
                margin: 0;

                .featuresItems{
                    padding: 8.5px 0;
                }
            }
        }
        .hero-images{
            margin-top: 20% !important;
            margin: 0 auto;
            .img2{
                width: 18em;
            }
            .img1{
                width: 5em;
            }
            .img3{
                width: 6em;
                height: auto;
            }
        }
    }
}