.footerDiv{
width: 100vw;
background-color: black;
bottom: 0;
position: sticky;

    .items{
    display: flex;
    flex-direction: row;
    padding: 1em 2em;
    margin: 0 auto;

        .item{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 12%;
            color: white;

            & img{
                height: 30px;
            }
        }
    }
}

.none{
    display: none;
}

@media only screen and (max-width: 480px){
    .footerDiv{
            .items{
                .item{
                    margin-right: 9%;
                }
            }
        }
        
}

@media only screen and (max-width: 360px){
    .footerDiv{
        
        
            .items{
                padding: 1em 0.5em;
        
                .item{
                    margin-right: 4%;
                    font-size: 14px;
                    // text-align: center;
                    margin: 0 auto;
                }
            }
        }
        
}