.navContainer {
    display: flex;
    top: 0px;
    color: white;
    align-items: center;
    padding: 23px 80px 15px 80px;
    gap: 10px;
    justify-content: space-between;
    position: sticky;
    
}

.nav-left{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
}

.itemsList {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

.products{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
}

.active{
    /* transform: rotate(180deg); */
}

.products img{
    margin-top: 2px;
    transition: transform 0.5s;
}


.products img:hover{
    transform: rotate(180deg);
}


.Nav-btn {
    font-size: small;
    font-weight: 500;
    width: 119px;
    height: 36px;
    background-color: #DCDCF0;
    border-radius: 4px;
    Padding: 8px, 12px, 8px, 12px;
    gap: 4px;
    border: none;
}

.products-list{
    display: none;
}



.products-listActive{
    display: flex;
    background-color: var(--primary-Background);
    flex-direction: column;
    list-style: none;
    position: absolute;
    gap: 15px;
    padding: 15px 30px;
    top: 50px;
    border-image: linear-gradient(90deg, #4d21ca 0%, #cc2190 40%, #d84a79 58%, #f6953c 82%, #ffbe3b 100%);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image-slice:1;
}

.products-listActive li{
    padding: 5px;
    cursor: pointer;
}

.TriangleActive{
    position: absolute;
    top: 50px;
    margin-left: 20px;
    /* display: inline; */
}
.Triangle{
    display: none;
}

.company-list{
    display: none;
}

.company-listActive{
    display: flex;
    background-color: var(--primary-Background);
    flex-direction: column;
    list-style: none;
    position: absolute;
    gap: 15px;
    padding: 15px 30px;
    top: 50px;
    border-image: linear-gradient(90deg, #4d21ca 0%, #cc2190 40%, #d84a79 58%, #f6953c 82%, #ffbe3b 100%);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image-slice:1;
    z-index: 99;
}