.clientMain-Container {
    background: url(../../Assets/background-Design.svg);
    background-repeat: no-repeat;
    // margin-top: 40px;
    // padding-top: 50px;

    .client-Container {
        display: flex;
        // overflow-y: scroll;
        overflow-x: scroll;
        // margin: 5em 15px 0 15px;
        max-width: 95%;
        margin: 5em auto 2em auto;


        .client-Card {
            background-color: #DCDCF0;
            font-size: 16px;
            line-height: 1.5em;
            font-weight: 600;
            text-align: center;
            height: 14em;
            width: 16em;
            margin: 5px;
            border-radius: 10px;

            .WordColor {
                // color: green;
                background: linear-gradient(135deg, #A265FF 10%, #F88696 50%, #FBBA6E 90%, #FFE5B5 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .client-Card p {
            padding: 10px;

            // padding: 10px 0;
        }


    }

    .client-Container::-webkit-scrollbar {
        display: none;
    }

    .eclipse {
        background: #EDEDF7 !important;

        .halfCircle {
            // margin-top: 20px;
            // background-color: rgb(255, 0, 0) !important;
            // clip-path: ellipse(10rem 100% at top);

            // margin-top: 10px;
            width: 100%;
            height: 80px;
            border-radius: 50% 50% 0 0;
            // position: relative;
            background-color: var(--primary-Background);
            margin-top: 15px;

            transform: rotate(180deg);
        }
    }

}


@media only screen and (max-width: 1920px) {
    .clientMain-Container{

        .client-Container{
            align-items: center;
            justify-content: center;

            .client-Card{
                display: flex;
                width: 13em;
                align-items: center;
                // margin: 5px auto;
            }
        }
    }
}

@media only screen and (max-width: 1728px) {}

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1366px) {

    .clientMain-Container {
        .client-Container {
            .client-Card {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }

}

@media only screen and (max-width: 1024px) {
    .clientMain-Container {
        .client-Container {
            .client-Card {
                font-size: 11px;
                line-height: 1.3;
                height: 16em;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .clientMain-Container {
        .client-Container {
            .client-Card {
                font-size: 11px;
                line-height: 1.2em;
                height: 17em;
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    .clientMain-Container {
        .client-Container {
            .client-Card {
                font-size: 10px;
                line-height: 1.3em;
                height: 20em;
            }
        }
    }
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 360px) {}