.ArticlesComponentContainer {
    // margin-top: 20px;
    // position: relative;
    padding: 10px 0 0 0;
    background-color: #EDEDF7;
    // height: 10em;

    .articleSection {

        .articleSecBtn {
            display: flex;
            max-width: 100%;
            // padding: 0 20px 0 20px;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            // flex-wrap: wrap;

            .activeBtn {
                background-color: black !important;
                color: white;
            }

            .btn {
                margin: 5px;
                font-weight: 500;
                margin-top: 2em;
                padding: 10px;
                // border: 1px solid green;.button 
                border-radius: 5px;
                background-color: #DCDCF0;
                cursor: pointer;

                &:active {
                    color: white;
                    background-color: black;
                    outline: none;
                }
            }
        }

        .articleSecData {
            // float: left;
            // transition: width 2 ease-in;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 3em 0;
            max-width: 90%;
            margin: 0 auto;
            align-items: center;
            justify-self: center;

            .articleSecText {
                max-width: 35%;
                // padding: 3em 4em;
                padding: 0 120px 0 0;
                margin: 0 auto;
                // margin: 0 3rem;
                text-align: left;

                &.articleSecText h2 {
                    margin: 0;
                }

                &.articleSecText p {
                    margin: 2em 0;
                    line-height: 1.6em;
                }

                &.articleSecText .button {
                    border: 1px solid black;
                    font-weight: 600;
                    border-radius: 8px;
                    width: 135px;
                    height: 20px;
                    text-align: center;
                    padding: 16px 24px 16px 24px;
                    cursor: pointer;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }

                .ColorHeading {
                    background: var(--text-gradient-light);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .articleSecImg{
                width: 50%;
            }

            .articleSecImg img {
               
                transition: 1s ease-in;
                width: 90%;
                height: auto;
                border-radius: 8px;
            }
        }
    }
}


@media only screen and (max-width: 1920px) {
    .ArticlesComponentContainer {
        .articleSection {
            .articleSecBtn {
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .articleSecData {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                padding: 3em 0;
                max-width: 90%;
                margin: 0 auto;
                align-items: center;

                .articleSecText {

                    max-width: 33%;

                    & h2 {
                        font-size: 30px;
                    }

                    & p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1728px) {

    .ArticlesComponentContainer {
        .articleSection {
            .articleSecData {
                .articleSecText {

                    & h2 {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .ArticlesComponentContainer {
        .articleSection {
            .articleSecData {
                .articleSecText {

                    & h2 {
                        font-size: 24px;
                    }

                    & p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .ArticlesComponentContainer {
        .articleSection {
            .articleSecData {
                .articleSecText {

                    & h2 {
                        font-size: 27px;
                    }

                    & p {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .ArticlesComponentContainer {
        .articleSection {
            .articleSecData {
                flex-wrap: wrap-reverse;

                & .articleSecImg img {
                    margin-left: 13%;
                    width: 100%;
                }

                .articleSecText {
                    padding: 0px 0px 0 0;
                    margin-top: 10px;
                    max-width: 80%;
                    margin-bottom: 2em;

                    & h2 {
                        font-size: 25px;
                    }

                    & p {
                        font-size: 15px;
                        margin: 1em 0 !important;
                        line-height: 1.4em;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .ArticlesComponentContainer {
        .articleSection {
            .articleSecData {

                .articleSecText {
                    max-width: 95%;
                }

                & .articleSecImg img {
                    margin-left: 0;
                    width: 95%;
                }
            }
        }
    }
}

@media only screen and (max-width: 580px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 360px) {}