.offeringsContainer {
    .semiCircle {
        width: 100%;
        height: 80px;
        border-radius: 50% 50% 0 0;
        position: relative;
        background-color: var(--primary-Background);
        margin-top: -37px;
        transform: rotate(360deg);
    }

    .headings {
        color: white;

        h1 {
            background: linear-gradient(135deg, #A265FF 10%, #F88696 50%, #FBBA6E 90%, #FFE5B5 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h5 {
            font-weight: 200;
        }
    }

    .cardsRows {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        max-width: 85%;
        margin: 5em auto;
        position: relative;

        .card {
            width: 100%;
            transition: 0.5s;
            position: relative;

            .anim {
                // transition: 0.5s;
                // transform: translateY(-100%);
            }

            .title {
                position: absolute;
                color: rgb(255, 255, 255);
                transition: 0.5s;
                transform: translateY(-160%);
                margin-left: 10px;
            }

            .desc {
                position: absolute;
                color: #fff;
                display: none;
                max-width: 90%;
                text-align: left;
                margin-left: 20px;
                margin: 0 auto;
            }

            &:hover {
                .cardBackground {
                    background-color: #FBBA6E !important;

                    & img{
                        display: none;

                    }
                }

                .title {
                    font-size: 24px;
                    font-weight: 600;
                    transform: translateY(-800%);
                    background: linear-gradient(92deg, #A265FF -5.58%, #F88696 29.61%, #FBBA6E 64.81%, #FFE5B5 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .desc {
                    opacity: 8;
                    font-size: 16px;
                    display: block;
                    transform: translateY(-110%);
                }

                .anim {
                    // transform: translateY(0);
                }
            }
        }

        .card .cardBackground img {
            height: 24em;
            width: 15.3em;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 1920px) {
    /* Responsive styles */
}

@media only screen and (max-width: 1728px) {
    /* Responsive styles */
}

@media only screen and (max-width: 1440px) {
    /* Responsive styles */
}

@media only screen and (max-width: 1366px) {
    /* Responsive styles */
}

@media only screen and (max-width: 1024px) {
    /* Responsive styles */
}

@media only screen and (max-width: 768px) {
    /* Responsive styles */
}

@media only screen and (max-width: 580px) {
    /* Responsive styles */
}

@media only screen and (max-width: 480px) {
    /* Responsive styles */
}

@media only screen and (max-width: 360px) {
    /* Responsive styles */
}